config RT9426A_FG_MMI
	tristate "RT9426A MMI fuel gauge"
	default n
	help
	  Say Y here if you have an RT9426A MMI fuel gauge in your system.

	  To compile this driver as a module, choose M here: the
	  module will be called rt9426a_fg_mmi.
