config MMI_SMBCHARGER_IIO
	tristate "MMI SMBCHARGER IIO"
	default n
	help
	  Say Y here if you have a mmi smbcharger iio compatible
	  device connected.

	  This driver can also be built as a module.  If so, the module
	  will be called mmi-smbcharger-iio.

config QG_LEGACY
	bool "Legacy behavior for QG fuel gauge (disable SOH)"
	depends on MMI_SMBCHARGER_IIO
	default n
	help
	  Says Y if you want to disable QG SOH channel and use legacy
	  battery detection path.
